## IKENNA UGWU THEODORE

In [260]:
import pandas as pd
import matplotlib.pyplot as plt
import ast

In [261]:
ud= pd.read_csv('sample_users - data.csv')
cd= pd.read_csv('sample_campaigns - data.csv')
ud

,user_id,created,planLevel,lastActive,companySize,country
0,5c3df1a0d5854974ea379b5e,2019-1-15 14:43,0,2019-3-4 16:31,NaN,United States
1,5c3e29afe266c87dc3e14162,2019-1-15 18:42,0,2020-7-9 15:57,NaN,United States
2,5c4794368b091565d315f886,2019-1-22 22:07,0,2019-12-6 16:54,NaN,United States
3,5c488f5e94f2a315d7501ffe,2019-1-23 15:59,0,2019-1-23 16:16,NaN,United States
4,5c5226edb9a5f919a01bb091,2019-1-30 22:36,0,2020-9-25 19:28,NaN,United States
...,...,...,...,...,...,...
831,5ed52ca4a592f10dd12c0d50,2020-6-1 16:28,0,2020-12-30 6:48,NaN,United States
832,5d265ad13388016f8e73dad7,2019-7-10 21:38,0,2019-7-18 15:08,NaN,United States
833,604d157606b14e0d7b2cdca0,2021-3-13 19:41,0,2021-3-13 19:41,NaN,NaN
834,5eb4ccdeb48de10dd28380d0,2020-5-8 3:07,0,2020-5-8 3:07,NaN,United States
835,60265c888510110d727b487f,2021-2-12 10:46,0,2021-2-12 22:07,less than 10 employees,United States

In [262]:
cd

,campaign_id,user_id,payment,updated,created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-8-25 19:38,2021-8-25 19:35,False,False,True,False,False,NaN
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-6-15 2:53,2021-6-15 2:31,False,False,True,False,False,NaN
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-6-26 17:32,2020-6-26 17:16,False,False,True,False,False,NaN
3,5fce7222b0ebf60d3cd33336,5ac6677269741c3f0b12f699,"{'cash': {'available': False, 'budget': 2000},...",2020-12-7 18:20,2020-12-7 18:19,False,False,True,False,False,NaN
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-9-27 15:35,2021-9-6 18:03,False,False,False,True,True,2021-9-27 15:35
...,...,...,...,...,...,...,...,...,...,...,...
295,5f5fcb1766fffa728b843b7b,5f5692666881dc0d56f8d904,"{'cash': {'available': True, 'budget': 500}, '...",2020-9-14 19:59,2020-9-14 19:57,True,False,False,True,False,2020-9-14 19:59
296,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-6-27 15:23,2019-6-11 14:29,True,False,False,False,False,2019-6-11 21:08
297,5eed1ecfe741a20dbe336f39,56fb496c7ed840380e1c1a8e,"{'cash': {'available': False, 'budget': 0}, 'p...",2020-6-19 20:23,2020-6-19 20:23,False,False,True,False,False,NaN
298,613f8b198659dd0d62611c62,594bcc4164f1363a087f4c79,"{'cash': {'available': False, 'budget': ''}, '...",2021-9-13 17:32,2021-9-13 17:32,True,False,False,True,True,2021-10-1 17:56
299,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-2-14 17:10,2020-2-13 20:26,True,False,False,True,False,2020-2-14 17:05

In [263]:
# Convert the 'budget_info' column to a dictionary using eval 
cd['payment'] = cd['payment'].apply(ast.literal_eval)

# Normalize the nested dictionary into separate columns
cld = pd.json_normalize(cd['payment'])

# Append the two tables
df = pd.concat([cd, cld], axis=1)
df

,campaign_id,user_id,payment,updated,created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,product.budget,royalty.available,royalty.budget,equity.available,equity.budget,mediaProduction,product.requestCC,royalty.prefix,equity.prefix,cash.open
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-8-25 19:38,2021-8-25 19:35,False,False,True,False,False,...,100,False,10.0,False,10.0,NaN,NaN,NaN,NaN,NaN
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-6-15 2:53,2021-6-15 2:31,False,False,True,False,False,...,5100,False,0.0,False,0.0,True,False,NaN,NaN,NaN
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-6-26 17:32,2020-6-26 17:16,False,False,True,False,False,...,,False,0.0,True,20.0,NaN,NaN,NaN,NaN,NaN
3,5fce7222b0ebf60d3cd33336,5ac6677269741c3f0b12f699,"{'cash': {'available': False, 'budget': 2000},...",2020-12-7 18:20,2020-12-7 18:19,False,False,True,False,False,...,100,False,10.0,False,10.0,NaN,False,NaN,NaN,NaN
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-9-27 15:35,2021-9-6 18:03,False,False,False,True,True,...,2500,True,3.0,False,3.0,True,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,5f5fcb1766fffa728b843b7b,5f5692666881dc0d56f8d904,"{'cash': {'available': True, 'budget': 500}, '...",2020-9-14 19:59,2020-9-14 19:57,True,False,False,True,False,...,200,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN
296,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-6-27 15:23,2019-6-11 14:29,True,False,False,False,False,...,300,True,15.0,False,0.0,NaN,NaN,NaN,NaN,NaN
297,5eed1ecfe741a20dbe336f39,56fb496c7ed840380e1c1a8e,"{'cash': {'available': False, 'budget': 0}, 'p...",2020-6-19 20:23,2020-6-19 20:23,False,False,True,False,False,...,0,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN
298,613f8b198659dd0d62611c62,594bcc4164f1363a087f4c79,"{'cash': {'available': False, 'budget': ''}, '...",2021-9-13 17:32,2021-9-13 17:32,True,False,False,True,True,...,100,False,10.0,False,10.0,NaN,False,NaN,NaN,NaN
299,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-2-14 17:10,2020-2-13 20:26,True,False,False,True,False,...,450,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN

In [264]:
ud.isnull().sum()

user_id          0
created          0
planLevel        0
lastActive       1
companySize    521
country        111
dtype: int64

In [265]:
df.isnull().sum()

campaign_id            0
user_id                1
payment                0
updated                0
created                0
isUnpublished          0
isDeleted              0
isDraft                0
isApproved             0
isPublic               0
published            154
cash.available         0
cash.budget            2
cash.minBudget       247
product.available      0
product.budget         0
royalty.available      0
royalty.budget         0
equity.available       0
equity.budget          0
mediaProduction      282
product.requestCC    202
royalty.prefix       295
equity.prefix        295
cash.open            298
dtype: int64

In [266]:
#Data cleaning
ud.dropna(subset=['lastActive'],inplace=True)
df.dropna(subset=['user_id'],inplace=True)
# Drop columns 
df.drop(['mediaProduction' ,'product.requestCC', 'royalty.prefix', 'equity.prefix', 'cash.open','cash.minBudget'], axis=1, inplace=True)

In [267]:
ud['companySize'].fillna('Not Indicated',inplace= True)
ud['country'].fillna('Not Indicated',inplace= True)
df['cash.budget'].fillna(0,inplace= True)

In [268]:
ud.isnull().sum()

user_id        0
created        0
planLevel      0
lastActive     0
companySize    0
country        0
dtype: int64

In [269]:
df.isnull().sum()

campaign_id            0
user_id                0
payment                0
updated                0
created                0
isUnpublished          0
isDeleted              0
isDraft                0
isApproved             0
isPublic               0
published            154
cash.available         0
cash.budget            0
product.available      0
product.budget         0
royalty.available      0
royalty.budget         0
equity.available       0
equity.budget          0
dtype: int64

In [270]:
#Join the two data sets
dt = pd.merge(df,ud,on='user_id',how='inner')
dt

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,product.budget,royalty.available,royalty.budget,equity.available,equity.budget,created_y,planLevel,lastActive,companySize,country
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-8-25 19:38,2021-8-25 19:35,False,False,True,False,False,...,100,False,10.0,False,10.0,2021-8-25 19:00,0,2021-8-25 19:38,10 - 49 employees,United States
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-6-15 2:53,2021-6-15 2:31,False,False,True,False,False,...,5100,False,0.0,False,0.0,2021-6-15 2:20,0,2021-7-12 23:29,less than 10 employees,United States
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-6-26 17:32,2020-6-26 17:16,False,False,True,False,False,...,,False,0.0,True,20.0,2020-4-23 13:38,0,2021-7-31 15:50,Not Indicated,United States
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-9-27 15:35,2021-9-6 18:03,False,False,False,True,True,...,2500,True,3.0,False,3.0,2021-4-28 15:22,0,2021-9-30 17:11,less than 10 employees,United States
4,60b113c13df7b50d73721d1d,60b10f2544ab5f0d80fdcbe2,"{'cash': {'available': True, 'budget': 5000}, ...",2021-5-28 16:10,2021-5-28 16:01,False,False,True,False,False,...,0,False,0.0,False,0.0,2021-5-28 15:41,1,2021-7-28 12:46,less than 10 employees,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,5ef53bc3a1ba840dbc4bac7d,5ef53a9732addc0dcce5be08,"{'cash': {'available': True, 'budget': 5000}, ...",2020-6-26 0:05,2020-6-26 0:05,False,False,True,False,False,...,100,False,10.0,False,10.0,2020-6-26 0:00,0,2020-6-26 0:05,Not Indicated,United States
252,5e790eabbba5ce0de33cd960,5e6f9dd6a097a90ddd63bd48,"{'cash': {'available': True, 'budget': 0}, 'pr...",2020-3-23 19:31,2020-3-23 19:31,False,False,True,False,False,...,0,False,0.0,False,0.0,2020-3-16 15:40,0,2020-6-5 5:27,Not Indicated,United States
253,5ff17d29a923780d6d8f5388,5ff171382cd9670d5933c600,"{'equity': {'budget': 0, 'available': False}, ...",2021-1-3 8:24,2021-1-3 8:15,False,False,True,False,False,...,0,True,30.1,False,0.0,2021-1-3 7:24,0,2021-2-28 15:04,less than 10 employees,United States
254,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-6-27 15:23,2019-6-11 14:29,True,False,False,False,False,...,300,True,15.0,False,0.0,2019-5-28 14:39,0,2019-10-7 16:33,Not Indicated,Canada
255,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-2-14 17:10,2020-2-13 20:26,True,False,False,True,False,...,450,False,0.0,False,0.0,2020-2-13 20:09,0,2021-10-8 1:00,Not Indicated,United States

In [271]:
dt.shape

(256, 24)

In [272]:
dt.columns

Index(['campaign_id', 'user_id', 'payment', 'updated', 'created_x',
       'isUnpublished', 'isDeleted', 'isDraft', 'isApproved', 'isPublic',
       'published', 'cash.available', 'cash.budget', 'product.available',
       'product.budget', 'royalty.available', 'royalty.budget',
       'equity.available', 'equity.budget', 'created_y', 'planLevel',
       'lastActive', 'companySize', 'country'],
      dtype='object')

## Task solutions

### What is the ratio of brands that published campaigns vs. did not publish any campaign within each plan level?

In [273]:
# Convert 'published_dates' column to a boolean column 'published'
dt['published_status'] = dt['published'].notnull()

# Convert True/False values to 'True'/'False' strings in the new column
dt['published_status'] = dt['published_status'].replace({True: 'True', False: 'False'})
dt

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,royalty.available,royalty.budget,equity.available,equity.budget,created_y,planLevel,lastActive,companySize,country,published_status
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-8-25 19:38,2021-8-25 19:35,False,False,True,False,False,...,False,10.0,False,10.0,2021-8-25 19:00,0,2021-8-25 19:38,10 - 49 employees,United States,False
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-6-15 2:53,2021-6-15 2:31,False,False,True,False,False,...,False,0.0,False,0.0,2021-6-15 2:20,0,2021-7-12 23:29,less than 10 employees,United States,False
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-6-26 17:32,2020-6-26 17:16,False,False,True,False,False,...,False,0.0,True,20.0,2020-4-23 13:38,0,2021-7-31 15:50,Not Indicated,United States,False
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-9-27 15:35,2021-9-6 18:03,False,False,False,True,True,...,True,3.0,False,3.0,2021-4-28 15:22,0,2021-9-30 17:11,less than 10 employees,United States,True
4,60b113c13df7b50d73721d1d,60b10f2544ab5f0d80fdcbe2,"{'cash': {'available': True, 'budget': 5000}, ...",2021-5-28 16:10,2021-5-28 16:01,False,False,True,False,False,...,False,0.0,False,0.0,2021-5-28 15:41,1,2021-7-28 12:46,less than 10 employees,United States,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,5ef53bc3a1ba840dbc4bac7d,5ef53a9732addc0dcce5be08,"{'cash': {'available': True, 'budget': 5000}, ...",2020-6-26 0:05,2020-6-26 0:05,False,False,True,False,False,...,False,10.0,False,10.0,2020-6-26 0:00,0,2020-6-26 0:05,Not Indicated,United States,False
252,5e790eabbba5ce0de33cd960,5e6f9dd6a097a90ddd63bd48,"{'cash': {'available': True, 'budget': 0}, 'pr...",2020-3-23 19:31,2020-3-23 19:31,False,False,True,False,False,...,False,0.0,False,0.0,2020-3-16 15:40,0,2020-6-5 5:27,Not Indicated,United States,False
253,5ff17d29a923780d6d8f5388,5ff171382cd9670d5933c600,"{'equity': {'budget': 0, 'available': False}, ...",2021-1-3 8:24,2021-1-3 8:15,False,False,True,False,False,...,True,30.1,False,0.0,2021-1-3 7:24,0,2021-2-28 15:04,less than 10 employees,United States,False
254,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-6-27 15:23,2019-6-11 14:29,True,False,False,False,False,...,True,15.0,False,0.0,2019-5-28 14:39,0,2019-10-7 16:33,Not Indicated,Canada,True
255,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-2-14 17:10,2020-2-13 20:26,True,False,False,True,False,...,False,0.0,False,0.0,2020-2-13 20:09,0,2021-10-8 1:00,Not Indicated,United States,True

In [274]:
# Group the DataFrame by 'Plan_Level' and calculate the count of brands with published and not published campaigns
grouped = dt.groupby(['planLevel', 'published_status'])['campaign_id'].count().unstack()

In [275]:
grouped.fillna(0,inplace= True)
grouped['False']=grouped['False'].astype(int)
grouped['True']=grouped['True'].astype(int)
grouped

published_status  False  True
planLevel
0                   125   101
1                     1     3
2                     2     0
3                     1    12
9                     3     8

In [276]:
grouped['ratio'] = grouped['True'].astype(str) + ':' + grouped['False'].astype(str)

In [277]:
grouped

published_status  False  True    ratio
planLevel
0                   125   101  101:125
1                     1     3      3:1
2                     2     0      0:2
3                     1    12     12:1
9                     3     8      8:3

### How many brands continued to create campaigns after their first published one?

In [278]:
dt.columns

Index(['campaign_id', 'user_id', 'payment', 'updated', 'created_x',
       'isUnpublished', 'isDeleted', 'isDraft', 'isApproved', 'isPublic',
       'published', 'cash.available', 'cash.budget', 'product.available',
       'product.budget', 'royalty.available', 'royalty.budget',
       'equity.available', 'equity.budget', 'created_y', 'planLevel',
       'lastActive', 'companySize', 'country', 'published_status'],
      dtype='object')

In [279]:
#Convert all date columns to datetime fornats
dt['created_x'] = pd.to_datetime(dt['created_x'])
dt['created_y'] = pd.to_datetime(dt['created_y'])
dt['lastActive'] = pd.to_datetime(dt['lastActive'])
dt['updated'] = pd.to_datetime(dt['updated'])
dt['published'] = pd.to_datetime(dt['published'])

In [280]:
pld = dt[dt['published'].notnull()]
pld

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,royalty.available,royalty.budget,equity.available,equity.budget,created_y,planLevel,lastActive,companySize,country,published_status
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:00,2021-09-06 18:03:00,False,False,False,True,True,...,True,3.0,False,3.0,2021-04-28 15:22:00,0,2021-09-30 17:11:00,less than 10 employees,United States,True
12,5f5fcb1766fffa728b843b7b,5f5692666881dc0d56f8d904,"{'cash': {'available': True, 'budget': 500}, '...",2020-09-14 19:59:00,2020-09-14 19:57:00,True,False,False,True,False,...,False,0.0,False,0.0,2020-09-07 20:04:00,0,2021-01-08 16:41:00,10 - 49 employees,United States,True
13,6088777eeeff5e6888c524c6,5fdcf6e04707310d661467ec,"{'cash': {'available': True, 'budget': 3000, '...",2021-04-27 20:43:00,2021-04-27 20:43:00,True,False,False,True,False,...,False,10.0,False,10.0,2020-12-18 18:37:00,0,2021-06-04 17:42:00,50 - 249 employees,Not Indicated,True
14,5ec7d880e08f190dee8a7609,5ec7c61c965f420dcd51bc4e,"{'cash': {'available': True, 'budget': 5000}, ...",2020-05-22 13:51:00,2020-05-22 13:49:00,True,False,False,False,False,...,False,0.0,True,0.0,2020-05-22 12:31:00,0,2021-02-20 11:24:00,Not Indicated,United States,True
16,5d89366312f02b0dab8f802e,5d7113d5c3cec45dc2e8a516,"{'cash': {'available': True, 'budget': 15000},...",2019-09-24 15:20:00,2019-09-23 21:17:00,True,False,False,False,False,...,False,10.0,False,10.0,2019-09-05 13:55:00,1,2021-02-19 18:22:00,Not Indicated,United States,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,609d8133fcd9350d861cba60,6060a6e016b5b80d6d4345d0,"{'cash': {'available': True, 'budget': 1500}, ...",2021-05-28 18:48:00,2021-05-13 19:42:00,True,False,False,True,False,...,False,10.0,False,10.0,2021-03-28 15:55:00,3,2021-10-05 16:45:00,10 - 49 employees,United States,True
247,5e0f9e62d381890dad3beeb0,5df8fa0b5479a90dd57e58a3,"{'cash': {'available': True, 'budget': 3000}, ...",2020-01-06 19:50:00,2020-01-03 20:04:00,True,False,False,True,False,...,False,10.0,False,10.0,2019-12-17 15:53:00,0,2021-03-23 21:04:00,Not Indicated,Canada,True
249,5ebd9df6c928ac0dc6e8cb61,5e7badeaa9c0e70da29e1595,"{'cash': {'available': True, 'budget': 5000}, ...",2020-05-18 15:03:00,2020-05-14 19:37:00,True,False,False,False,False,...,False,10.0,False,10.0,2020-03-25 19:15:00,9,2021-10-18 16:37:00,Not Indicated,United States,True
254,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-06-27 15:23:00,2019-06-11 14:29:00,True,False,False,False,False,...,True,15.0,False,0.0,2019-05-28 14:39:00,0,2019-10-07 16:33:00,Not Indicated,Canada,True
255,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-02-14 17:10:00,2020-02-13 20:26:00,True,False,False,True,False,...,False,0.0,False,0.0,2020-02-13 20:09:00,0,2021-10-08 01:00:00,Not Indicated,United States,True

In [281]:
dt['continued'] = dt['updated']-dt['published']
dt['continued']

0                  NaT
1                  NaT
2                  NaT
3      0 days 00:00:00
4                  NaT
            ...
251                NaT
252                NaT
253                NaT
254   15 days 18:15:00
255    0 days 00:05:00
Name: continued, Length: 256, dtype: timedelta64[ns]

In [282]:
cnt = (dt['continued'] > pd.Timedelta(0)).sum()
cnt

37

### Which brands have the highest paying campaigns?

In [283]:
cld

,cash.available,cash.budget,cash.minBudget,product.available,product.budget,royalty.available,royalty.budget,equity.available,equity.budget,mediaProduction,product.requestCC,royalty.prefix,equity.prefix,cash.open
0,True,5000,100.0,False,100,False,10.0,False,10.0,NaN,NaN,NaN,NaN,NaN
1,True,2000,500.0,True,5100,False,0.0,False,0.0,True,False,NaN,NaN,NaN
2,False,,NaN,False,,False,0.0,True,20.0,NaN,NaN,NaN,NaN,NaN
3,False,2000,NaN,True,100,False,10.0,False,10.0,NaN,False,NaN,NaN,NaN
4,True,10000,100.0,True,2500,True,3.0,False,3.0,True,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,True,500,NaN,True,200,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN
296,True,250,NaN,True,300,True,15.0,False,0.0,NaN,NaN,NaN,NaN,NaN
297,False,0,NaN,False,0,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN
298,False,,NaN,True,100,False,10.0,False,10.0,NaN,False,NaN,NaN,NaN
299,True,1000,NaN,True,450,False,0.0,False,0.0,NaN,NaN,NaN,NaN,NaN

In [284]:
#Filter all users with available cash
cash = dt[dt['cash.available']==True]
cash

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,royalty.budget,equity.available,equity.budget,created_y,planLevel,lastActive,companySize,country,published_status,continued
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-08-25 19:38:00,2021-08-25 19:35:00,False,False,True,False,False,...,10.0,False,10.0,2021-08-25 19:00:00,0,2021-08-25 19:38:00,10 - 49 employees,United States,False,NaT
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-06-15 02:53:00,2021-06-15 02:31:00,False,False,True,False,False,...,0.0,False,0.0,2021-06-15 02:20:00,0,2021-07-12 23:29:00,less than 10 employees,United States,False,NaT
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:00,2021-09-06 18:03:00,False,False,False,True,True,...,3.0,False,3.0,2021-04-28 15:22:00,0,2021-09-30 17:11:00,less than 10 employees,United States,True,0 days 00:00:00
4,60b113c13df7b50d73721d1d,60b10f2544ab5f0d80fdcbe2,"{'cash': {'available': True, 'budget': 5000}, ...",2021-05-28 16:10:00,2021-05-28 16:01:00,False,False,True,False,False,...,0.0,False,0.0,2021-05-28 15:41:00,1,2021-07-28 12:46:00,less than 10 employees,United States,False,NaT
5,60e4800a4d9ca6124ae63b4f,60e4673b5e3f8b6eee44c509,"{'equity': {'budget': 0, 'available': False}, ...",2021-07-06 16:21:00,2021-07-06 16:08:00,False,False,True,False,False,...,0.0,False,0.0,2021-07-06 14:22:00,2,2021-07-13 16:49:00,less than 10 employees,United States,False,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,5e7072c9834ea00def751849,5e6b158690a42c0de428467e,"{'cash': {'available': True, 'budget': 5000}, ...",2020-03-17 06:48:00,2020-03-17 06:48:00,False,False,True,False,False,...,10.0,False,10.0,2020-03-13 05:09:00,0,2020-03-17 11:01:00,Not Indicated,India,False,NaT
251,5ef53bc3a1ba840dbc4bac7d,5ef53a9732addc0dcce5be08,"{'cash': {'available': True, 'budget': 5000}, ...",2020-06-26 00:05:00,2020-06-26 00:05:00,False,False,True,False,False,...,10.0,False,10.0,2020-06-26 00:00:00,0,2020-06-26 00:05:00,Not Indicated,United States,False,NaT
252,5e790eabbba5ce0de33cd960,5e6f9dd6a097a90ddd63bd48,"{'cash': {'available': True, 'budget': 0}, 'pr...",2020-03-23 19:31:00,2020-03-23 19:31:00,False,False,True,False,False,...,0.0,False,0.0,2020-03-16 15:40:00,0,2020-06-05 05:27:00,Not Indicated,United States,False,NaT
254,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-06-27 15:23:00,2019-06-11 14:29:00,True,False,False,False,False,...,15.0,False,0.0,2019-05-28 14:39:00,0,2019-10-07 16:33:00,Not Indicated,Canada,True,15 days 18:15:00
255,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-02-14 17:10:00,2020-02-13 20:26:00,True,False,False,True,False,...,0.0,False,0.0,2020-02-13 20:09:00,0,2021-10-08 01:00:00,Not Indicated,United States,True,0 days 00:05:00

In [285]:
file_path = 'cash.csv'
cash.to_csv(file_path, index=False)

In [286]:
# Convert the 'column_with_non_numbers' to numeric, non-numeric values will be converted to NaN
dt['cash.budget'] = pd.to_numeric(dt['cash.budget'], errors='coerce')
dtm = dt[dt['cash.budget'].notnull()]
print(dtm)

                  campaign_id                   user_id  \
0    61269b87fd44e10d880dd983  61269342b9e1180d61686d9a
1    60c810edba9bff0d35f14179  60c80e784857720d47bba912
3    613657f332d7960d67273b2e  60897d99fa40140d62906a1c
4    60b113c13df7b50d73721d1d  60b10f2544ab5f0d80fdcbe2
5    60e4800a4d9ca6124ae63b4f  60e4673b5e3f8b6eee44c509
..                        ...                       ...
251  5ef53bc3a1ba840dbc4bac7d  5ef53a9732addc0dcce5be08
252  5e790eabbba5ce0de33cd960  5e6f9dd6a097a90ddd63bd48
253  5ff17d29a923780d6d8f5388  5ff171382cd9670d5933c600
254  5cffbac7aa9239460521496d  5ced481646ea1f5c72de4bf6
255  5e45b0dd8ac2680de7486180  5e45acf51f436b0de03679f3

                                               payment             updated  \
0    {'cash': {'available': True, 'budget': 5000, '... 2021-08-25 19:38:00
1    {'cash': {'available': True, 'budget': 2000, '... 2021-06-15 02:53:00
3    {'cash': {'available': True, 'budget': 10000, ... 2021-09-27 15:35:00
4    {'cash': {'available': True, 'budget': 5000}, ... 2021-05-28 16:10:00
5    {'equity': {'budget': 0, 'available': False}, ... 2021-07-06 16:21:00
..                                                 ...                 ...
251  {'cash': {'available': True, 'budget': 5000}, ... 2020-06-26 00:05:00
252  {'cash': {'available': True, 'budget': 0}, 'pr... 2020-03-23 19:31:00
253  {'equity': {'budget': 0, 'available': False}, ... 2021-01-03 08:24:00
254  {'cash': {'available': True, 'budget': 250}, '... 2019-06-27 15:23:00
255  {'cash': {'available': True, 'budget': 1000}, ... 2020-02-14 17:10:00

              created_x  isUnpublished  isDeleted  isDraft  isApproved  \
0   2021-08-25 19:35:00          False      False     True       False
1   2021-06-15 02:31:00          False      False     True       False
3   2021-09-06 18:03:00          False      False    False        True
4   2021-05-28 16:01:00          False      False     True       False
5   2021-07-06 16:08:00          False      False     True       False
..                  ...            ...        ...      ...         ...
251 2020-06-26 00:05:00          False      False     True       False
252 2020-03-23 19:31:00          False      False     True       False
253 2021-01-03 08:15:00          False      False     True       False
254 2019-06-11 14:29:00           True      False    False       False
255 2020-02-13 20:26:00           True      False    False        True

     isPublic  ... royalty.budget  equity.available  equity.budget  \
0       False  ...           10.0             False           10.0
1       False  ...            0.0             False            0.0
3        True  ...            3.0             False            3.0
4       False  ...            0.0             False            0.0
5       False  ...            0.0             False            0.0
..        ...  ...            ...               ...            ...
251     False  ...           10.0             False           10.0
252     False  ...            0.0             False            0.0
253     False  ...           30.1             False            0.0
254     False  ...           15.0             False            0.0
255     False  ...            0.0             False            0.0

              created_y planLevel          lastActive             companySize  \
0   2021-08-25 19:00:00         0 2021-08-25 19:38:00       10 - 49 employees
1   2021-06-15 02:20:00         0 2021-07-12 23:29:00  less than 10 employees
3   2021-04-28 15:22:00         0 2021-09-30 17:11:00  less than 10 employees
4   2021-05-28 15:41:00         1 2021-07-28 12:46:00  less than 10 employees
5   2021-07-06 14:22:00         2 2021-07-13 16:49:00  less than 10 employees
..                  ...       ...                 ...                     ...
251 2020-06-26 00:00:00         0 2020-06-26 00:05:00           Not Indicated
252 2020-03-16 15:40:00         0 2020-06-05 05:27:00           Not Indicated
253 2021-01-03 07:24:00         0 2021-02-28 15:04:00  less than 10 employees
254 2019-05-28 14:39:00         0 2019-10-07 16:33:00           Not Indicated
255 2020-02-13 20:09:00         0 2021-10-08 01:00:00           Not Indicated

           country  published_status        continued
0    United States             False              NaT
1    United States             False              NaT
3    United States              True  0 days 00:00:00
4    United States             False              NaT
5    United States             False              NaT
..             ...               ...              ...
251  United States             False              NaT
252  United States             False              NaT
253  United States             False              NaT
254         Canada              True 15 days 18:15:00
255  United States              True  0 days 00:05:00

[237 rows x 26 columns]

In [287]:
# Sort the DataFrame by 'price' column in descending order
dt_sorted = dtm.sort_values(by='cash.budget', ascending=False)

# Get the top 10 prices
top_10_payment = dt_sorted[['user_id','cash.budget']].head(10)

print(top_10_payment)

                      user_id  cash.budget
64   5efb7f52dc1fab678e8b8492     100000.0
36   5ebf5f5634cd0a0de29d782f     100000.0
120  5c573b750da9cb267cbaf91d     100000.0
50   60f73c0d69248c0d60fde6da     100000.0
246  5d8689aa01688c0dc6472965     100000.0
133  5c77e8ad35d02a64e47973c1     100000.0
186  5fac7d3e220e690d333e01ff     100000.0
192  5f25e38d7e8a2b0dfe538335     100000.0
201  5eb37800b8d2d80dc7a92c46     100000.0
221  60bfaf9d074fb50d59e60187      96200.0

### How long does it take for new brands to publish a campaign?

In [288]:
pub = dt[dt['published'].notnull()]
pub

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,...,royalty.budget,equity.available,equity.budget,created_y,planLevel,lastActive,companySize,country,published_status,continued
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:00,2021-09-06 18:03:00,False,False,False,True,True,...,3.0,False,3.0,2021-04-28 15:22:00,0,2021-09-30 17:11:00,less than 10 employees,United States,True,0 days 00:00:00
12,5f5fcb1766fffa728b843b7b,5f5692666881dc0d56f8d904,"{'cash': {'available': True, 'budget': 500}, '...",2020-09-14 19:59:00,2020-09-14 19:57:00,True,False,False,True,False,...,0.0,False,0.0,2020-09-07 20:04:00,0,2021-01-08 16:41:00,10 - 49 employees,United States,True,0 days 00:00:00
13,6088777eeeff5e6888c524c6,5fdcf6e04707310d661467ec,"{'cash': {'available': True, 'budget': 3000, '...",2021-04-27 20:43:00,2021-04-27 20:43:00,True,False,False,True,False,...,10.0,False,10.0,2020-12-18 18:37:00,0,2021-06-04 17:42:00,50 - 249 employees,Not Indicated,True,-1 days +21:19:00
14,5ec7d880e08f190dee8a7609,5ec7c61c965f420dcd51bc4e,"{'cash': {'available': True, 'budget': 5000}, ...",2020-05-22 13:51:00,2020-05-22 13:49:00,True,False,False,False,False,...,0.0,True,0.0,2020-05-22 12:31:00,0,2021-02-20 11:24:00,Not Indicated,United States,True,-4 days +01:41:00
16,5d89366312f02b0dab8f802e,5d7113d5c3cec45dc2e8a516,"{'cash': {'available': True, 'budget': 15000},...",2019-09-24 15:20:00,2019-09-23 21:17:00,True,False,False,False,False,...,10.0,False,10.0,2019-09-05 13:55:00,1,2021-02-19 18:22:00,Not Indicated,United States,True,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,609d8133fcd9350d861cba60,6060a6e016b5b80d6d4345d0,"{'cash': {'available': True, 'budget': 1500}, ...",2021-05-28 18:48:00,2021-05-13 19:42:00,True,False,False,True,False,...,10.0,False,10.0,2021-03-28 15:55:00,3,2021-10-05 16:45:00,10 - 49 employees,United States,True,0 days 00:00:00
247,5e0f9e62d381890dad3beeb0,5df8fa0b5479a90dd57e58a3,"{'cash': {'available': True, 'budget': 3000}, ...",2020-01-06 19:50:00,2020-01-03 20:04:00,True,False,False,True,False,...,10.0,False,10.0,2019-12-17 15:53:00,0,2021-03-23 21:04:00,Not Indicated,Canada,True,0 days 04:08:00
249,5ebd9df6c928ac0dc6e8cb61,5e7badeaa9c0e70da29e1595,"{'cash': {'available': True, 'budget': 5000}, ...",2020-05-18 15:03:00,2020-05-14 19:37:00,True,False,False,False,False,...,10.0,False,10.0,2020-03-25 19:15:00,9,2021-10-18 16:37:00,Not Indicated,United States,True,-1 days +23:43:00
254,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-06-27 15:23:00,2019-06-11 14:29:00,True,False,False,False,False,...,15.0,False,0.0,2019-05-28 14:39:00,0,2019-10-07 16:33:00,Not Indicated,Canada,True,15 days 18:15:00
255,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-02-14 17:10:00,2020-02-13 20:26:00,True,False,False,True,False,...,0.0,False,0.0,2020-02-13 20:09:00,0,2021-10-08 01:00:00,Not Indicated,United States,True,0 days 00:05:00

In [289]:
pub['pub_time'] = pub['published'] - pub['created_y']
pub['pub_time']

C:\Users\Ikay\AppData\Local\Temp\ipykernel_10460\1397165270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pub['pub_time'] = pub['published'] - pub['created_y']

3     152 days 00:13:00
12      6 days 23:55:00
13    130 days 04:47:00
14      3 days 23:39:00
16     19 days 01:25:00
             ...
245    61 days 02:53:00
247    19 days 23:49:00
249    53 days 20:05:00
254    14 days 06:29:00
255     0 days 20:56:00
Name: pub_time, Length: 124, dtype: timedelta64[ns]

In [290]:
avg_time = pub['pub_time'].mean()
avg_time

Timedelta('63 days 00:02:57.096774194')